body {
    background-color: #232329;
    color: white;
    font-family: Verdana;
    text-align: center;
}

h1 {
    color: lightpink;
}


img {
    height: 400px;
}

.title { 
    text-align: center;
  }