body {
    background-color: #232329;
    color: white;
    font-family: Verdana;
    text-align: center;
}

h1 {
    color: lightpink;
}

img {
    height: 600px;
    border-radius: 24px;
    padding: 12px;
}

.title { 
    text-align: center;
}

button {
    background-color: lightpink;
    padding: 8px;
    border-radius: 8px;
    font-size: large;
    font-family: Verdana;
}

.photos {
    display: inline-flex;
    align-items: center;
}